<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open lan source</title>
</head>
<body>
<h1>Добро пожаловать на страницу фан клуба Шардина Алексея</h1>
<hr>
<h2>Биография Алексея</h2>
<p>Алексей родился в городе Пермь Пермского края 18 января 2000 года.</p>
<p>Одевается в старое шмотье и хвастается курской pussy - <a href="https://brandshop.ru/stussy/">Site pussy.com</a></p>
<p>Учится на математичко-механиском факультете Уральского Федерального Университете им Б.Ельцина на специальности Компуктерная безопасность</p>
<p>Больше о нем нечего сказать. Будет дополняться</p>
<a href="https://vk.com/itwiilbegreatifyouleaveitpls">Link vk.com</a>
<a class="Link" href="http://127.0.0.1:5000/gallery">Link to gallery</a>
<a class="Link" href="http://127.0.0.1:5000/">Link to start page</a>
<p><img src="https://pp.userapi.com/c847124/v847124001/3dbda/ZH3RpuTkK-s.jpg" alt="img которая не алло" width="600" height="700"></p>

</body>
</html>