<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body class="page_bg">
<h1>Добро пожаловать на сайт фан клуба Семена Равнушкина</h1>
Test text
<hr>
<ul>
<li><a class="Link" href="https://hit-count-cclmk1.herokuapp.com/">Стартовая</a></li>

</ul>
<hr>
Всем здарова, это мой сайт епта.<br>
<a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.ru/pogoda/54" target="_blank"><img src="https://info.weather.yandex.net/54/2.ru.png?domain=ru" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a><br>
<!--<p><img src="http://127.0.0.1:5000/!Au/dev/truckersmp.ru.png" alt="здесь должна быть картинка1"></p-->
<p><img src="http://rtchuz.pythonanywhere.com/1.png" alt="здесь должна быть картинка2"></p>
<p><img src="{{ url_for("templates", filename="2.jpg") }}" alt=" image"></p>


<A></A>
<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
<div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Екатеринбург/время" style="text-decoration: none" class="clock24" id="tz24-1559047499-c1358-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIxIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I1Y2VkMmQ0YjcxNDhkIiwidHlwZSI6ImRiIiwibGFuZyI6InJ1In0=" title="точное время Екатеринбург" target="_blank" rel="nofollow">Екатеринбург</a></p><div id="clock_block_cb5ced2d4b7148d"></div></div>
<script type="text/javascript" src="//w.24timezones.com/l.js" async></script>

<p><a href="https://hit-count-cclmk1.herokuapp.com/stat"><img src="https://counter.yadro.ru/logo;hsdigital/rn/main/66?43.7" alt="img которая не алло " width="" height=""></a></p>

</body>
</html>
