<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
    <body>
        <?php
            echo "Происходит выполнение скрипта";
        ?>
        Стартовая страница сайта посвященная величайшему математику - Алексею Шардину <br>
        <a class="Link" href="http://127.0.0.1:5000/gallery">Link to gallery</a>
        <a class="Link" href="http://127.0.0.1:5000/about">Link to about</a>
    </body>
</html>

<script language=JavaScript>
r1=(screen.width+'*'+screen.height+'&nbsp;');
document.write(r1)
</script>

<!-- То что дальше пригодится для создания кнопки на вывод статистики -->
<!-- <form action="handler.php" method="post">
  <p><input type="text" name="str"></p>
  <p><input type="submit" value="Отправить"></p> -->
