<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics Site</title>
</head>
<body>
<a class="Link" href="http://127.0.0.1:5000/">Link to start page</a>
<br>
Hello to statistics page! <br>
Текушая дата - {{ date }} <br>
Здесь вы можете посмотреть всю информацию о последних посещений сайта. <br>
Количество посещений сайт за все время  - {{ count_user }} <br>
Ифнормация о вашем подключении :    <br>
Ваш ip адресс  - {{ ip_adress }}    <br>
Ваш номер cookies - {{ cookies }}   <br>
Ваш браузер - {{ user_agent }}      <br>
Ваш браузер поддерживает языки - {{ accept_lang }} <br>



</body>
</html>